body{
    background-color: rgb(7, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form-container{
    background-color: white;
    padding: 50px;
    text-align: center;
}
h1{
    margin: 0px 0px 10px 0px;

}
input{
    width: 200px;
    margin: 20px 0px;
    padding: 10px;
    display: block;
    border-radius: 4px;
}
#submitBtn{
    width: 100%;
    background-color: rgb(7, 105, 105);
    color: white;
    border: 0px;
    cursor: pointer;
}
.error{
    color: red;
    margin: 0;
    text-align: left;
}